<div class="modal-container">
    <h2>Add Driver Bus</h2>
    <form [formGroup]="form" class="form-box">
      <mat-form-field appearance="fill">
        <mat-label>First Name:</mat-label>
        <input matInput type="text" formControlName="Nom" placeholder="Enter your First Name"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Family Name:</mat-label>
        <input matInput type="text" formControlName="prenom" placeholder="Enter your Family Name"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Number:</mat-label>
        <input matInput type="text" formControlName="Numero" placeholder="Mobile number"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput type="text" formControlName="Email" placeholder="Enter Email"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Disponibilite:</mat-label>
        <input matInput type="checkbox" formControlName="Disponibilite" />
      </mat-form-field>
  
  
      <div class="actions">
        <button mat-raised-button (click)="save()" class="save-button">Save</button>
        <button mat-button (click)="cancelForm()" class="cancel-button">Cancel</button>
      </div>
    </form>
  </div>