<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faRoute"></fa-icon>
        </div>
        <div class="value">
            <div class="top">1200</div>
            <div class="bottom">Travels</div>
        </div>
    </div>
    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div class="value">
            <div class="top">295</div>
            <div class="bottom">Clients</div>
        </div>
    </div>
    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faCar"></fa-icon>
        </div>
        <div class="value">
            <div class="top">184</div>
            <div class="bottom">Taxis</div>
        </div>
    </div>
    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faBus"></fa-icon>
        </div>
        <div class="value">
            <div class="top">128</div>
            <div class="bottom">Buses</div>
        </div>
    </div>
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faIdCard"></fa-icon>
        </div>
        <div class="value">
            <div class="top">328</div>
            <div class="bottom">Drivers</div>
        </div>
    </div>
</div>