.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .form-box {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    mat-form-field {
      width: 100%;

      mat-label {
        color: #333; // Set label color explicitly
      }

      input {
        font-size: 16px;
        color: #333;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:focus {
          outline: none;
          border-color: #4caf50;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      button {
        font-size: 18px;
        padding: 10px 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        border: none;
      }

      .save-button {
        background-color: #4caf50;
        color: #fff;
      }

      .cancel-button {
        background-color: #ccc;
        color: #333;
      }
    }
  }
}
