/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pager {
    width: 400px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    li {
        // display: inline-block;
        margin: 0 25px;
        padding: 10px;
       
    }

    a {
        // display: block;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #ccc;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color: #aaa;
        }
    }
}